APScheduler==3.10.4
beautifulsoup4==4.12.3
chardet==5.2.0
Django==5.1
djangorestframework==3.15.2
edge_tts==6.1.12
fastapi==0.114.1
gradio==4.44.0
icecream==2.1.3
langchain_community==0.2.16
langchain_core==0.2.39
langchain_text_splitters==0.2.4
Markdown==3.7
openai==1.44.1
opencc_python_reimplemented==0.1.7
overrides==7.7.0
py2neo==2021.2.4
pyahocorasick==2.0.0
pydub==0.25.1
PyMySQL==1.1.1
PyPDF2==3.0.1
python-dotenv==1.0.1
python_pptx==0.6.23
PyYAML==6.0.2
Requests==2.32.3
SpeechRecognition==3.10.4
unstructured==0.15.9
urllib3==2.2.2
zhipuai==2.1.5.20230904
torch~=2.2.1
icecream~=2.1.3
loguru~=0.7.2
multipledispatch~=1.0.0
fastapi~=0.109.2
uvicorn~=0.27.1
apscheduler~=3.10.4
requests~=2.31.0
edge-tts~=6.1.10
langchain~=0.1.8
langchain-openai~=0.0.7
transformers~=4.38.1
modelscope~=1.12.0
pypdf~=4.0.2
flask~=3.0.0
whisper==1.1.10
openai-whisper==20231117
soundfile==0.12.1
pydub==0.25.1
opencc-python-reimplemented==0.1.7
PyPDF2==3.0.1
chardet==5.2.0
python-docx==1.1.2
python-doc==2020.10.1
